<html>

<body>

  <h2>Patient Details</h2>


  <form action="/action_page.php">
    First name:<br>
    <input type="text" name="firstname" [(ngModel)]= "firstName"/>
    <br>
    Last name:<br>
    <input type="text" name="lastname" [(ngModel)]= "lastName"/>
    <br><br>

    Id:<br>
    <input type="string" name="Id" [(ngModel)]= "Id"/>
    <br><br>

    Phone:<br>
    <input type="text" name="phone" [(ngModel)]= "phone"/>
    <br><br>
    <button (click)= "createNewPatient()" class="btn btn-success">Create Patient</button>

    
  </form>
  <div class="container" *ngIf="responsefromServer">

    <h5>
      The response from server is
    </h5>
    {{responsefromServer | json}}


  </div>

  <!-- <table border="2">

    <thead>
      <tr>
        <th> Id </th>
        <th> Firstname </th>
        <th> Lastname </th>
        <th> Phone </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let responsefromServer of responsefromServer">
        <td>{{responsefromServer.id}}</td>
        <td>{{responsefromServer.firstName}}</td>
        <td>{{responsefromServer.lastName}}</td>
        <td>{{responsefromServer.phone}}</td>


      </tr>

    </tbody>
  </table> -->



  <div class="container" *ngIf="errorMessage">

    <h2>
      There is error in response from API, please contact support!
    </h2>


  </div>

</body>

</html>